<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}

{% block page_header %}    
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}    
    <!-- Cover base.html background -->
    <div class="overlay"></div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Edit Identifier</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="text-muted">Identifier to edit</p>
                <form class="mt-3" action="{% url 'edit_contracts' contract.id %}" method="POST" id="identifiers-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <a href="{% url 'identifiers' %}" class="btn btn-outline-black rounded-0 text-uppercase float-left">                    
                        <span class="font-weight-bold">Cancel</span>
                    </a>
                    <button class="btn btn-black rounded-0 text-uppercase float-right">Update</button>
                </form>
            </div>        
            <div class="col-12 col-lg-6">

            </div>
        </div>
        <hr class="w-90 mb-1">
        <div>
            
        </div>   
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/walletscanner.js' %}"></script>
{% endblock %}