<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Cover base.html background -->
    <div class="overlay"></div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Free Scanner</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h2 class="logo-font">Top 20 Win Holders:</h2>
            </div>
            
            <div class="col-6">               
                <a href="{% url 'identifiers' %}" class="btn btn-outline-black rounded-0 text-uppercase float-right">                    
                    <span class="font-weight-bold">Manage Identifiers</span>
                </a> 
            </div>
        </div>
        <hr class="w-90 mb-1">
        <div class="row">
            <div class="col-12 col-lg-6">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>TRX Wallet:</th>
                            <th>Balance:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Thanks to https://www.gun.io/blog/how-to-list-items-in-a-dictionary-in-a-django-template -->
                        {% for key, value in token_balance.items %}
                            {% if key == 'data' %}
                                {% for item in value %}
                                    {% for wallet, ballance in item.items %}
                                        <tr>
                                            <th>{{ wallet }}</th>
                                            <th>{{ ballance }}</th>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>   
    </div>
{% endblock %}